.cardLarga {
  width: 700px; /* Ancho deseado de la tarjeta */
  height: 200px; /* Alto deseado de la tarjeta */
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column; /* Cambiamos a disposici칩n vertical */
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s;
  margin: 0 auto; /* Centra horizontalmente el contenedor en el padre */
}

.cardLarga img {
  max-width: 100%; /* Ajusta el ancho m치ximo de la imagen al ancho de la tarjeta */
  max-height: 100%; /* Ajusta la altura m치xima de la imagen a la altura de la tarjeta */
  object-fit: cover; /* Ajusta la imagen para llenar el contenedor sin deformaci칩n */
}

.cardLarga .additional-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transform: translateY(-100%);
  transition: opacity 0.3s, transform 0.3s;
}

.cardLarga:hover {
  transform: scale(1.1);
}

.cardLarga:hover .additional-text {
  opacity: 1;
  transform: translateY(0);
}