.enquepodemos {
    margin-top: 80px;
    text-align: center;
}
.solucionesofrecemos {
    text-align: center;
}
.elmejor {
    text-align: center;
}
.enfocados {
    text-align: center;
    margin-bottom: 50px;
}
.contactanos {
    background-image: url('https://res.cloudinary.com/dcwloh062/image/upload/v1697420092/wepik-export-20231016013230FczD_ecooor.png');
    background-size: cover; /* Ajusta el tamaño del fondo para cubrir completamente el contenedor */
    background-position: center; /* Ajusta la posición del fondo */
    background-repeat: no-repeat;
    border-top: .5px solid #b1b1b1;
    border-bottom: .5px solid #b1b1b1;
    margin-top: 60px;
    height: 480px;
    display: flex; /* Establece el contenedor de contacto como un contenedor flexible */
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra horizontalmente */
}

.deseas {
    margin-left: 30px;
}

.botoncontacto {
    display: flex; /* Establece el contenedor del botón como un contenedor flexible */
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra horizontalmente */
}